[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
sqlalchemy = "*"
flask = "*"
requests = "*"

[dev-packages]
rope = "*"
mypy = "*"
pytest = "*"
black = "*"
isort = "*"
flake8 = "*"
pytest-cov = "*"
autopep8 = "*"

[requires]
python_version = "3.11"

[scripts]
tidy = "scripts/tidy.sh"
lint = "scripts/lint.sh"
test = "scripts/tests.sh"

[pipenv]
allow_prereleases = true
